div.containerForm
  div(style ="background-color: #fff; height: -webkit-fill-available; border-radius: 10px; z-index: 9999999 !important;")
    div(style="padding-top: 10%;")
      .col-md-12
        .col-md-4
          img.img-responsive.center(src='/img/LogoAyto.png' style= "display: block; margin-left: auto; margin-right: auto;")
        .col-md-4
        .col-md-4
          img.img-responsive.center(src='/img/logo-veracruz.png' style= "display: block; margin-left: auto; margin-right: auto;")
      .col-md-12
        .col-md-4
        .col-md-4
          img.img-responsive.center(src='/img/logo-byn.svg' style= "display: block; margin-left: auto; margin-right: auto;")
        .col-md-4
    div
      h3.Poppins-Bold.textTitle Bienvenido a Cero Papel

    div.textContentForm.buttonsContentLogin
      .text-center(ng-if='auth.service.isAuthenticated()')
        h3.Poppins-Bold.textTitle Iniciando sesión...

    div(style="padding-top: 5%; text-align: center;" ng-if='auth.error')
      h2.error-login.Poppins-ExtraBold {{auth.error.message}}
      h4.error-login.Poppins-ExtraBold {{auth.error.desc}}

      br
      br
    div(style="padding-top: 5%; text-align: center;")
      span.error-login.Poppins-ExtraBold(style="color:#e96057") Cero papel está optimizado para funcionar en el navegador Google Chrome.
    br


