


// START Top Navbar
nav.navbar.topnavbar(role='navigation' ng-controller="NotificationsController as ntc")
  // START navbar header

  .navbar-header
    a.navbar-brand(href='/')
      .brand-logo
        img(src="assets/img/logo-single.svg", alt="App Logo")
      .brand-logo-collapsed
        img(src="assets/img/logo-single-short.svg", alt="App Logo")


  // END navbar header

  // START Nav wrapper internal
  .nav-wrapper(ng-if= "ntc.onInternal()")

    // MENU XS INTERNAL INBOX
    ul.nav.navbar-nav.visible-xs
      li
        // Button used to collapse the left sidebar. Only visible on tablet and desktops
        a(ng-if="app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple).hidden-xs
          img(src="assets/img/newIcons/menu-retractil-open.svg", alt="icon-menu-retractil")
        a(ng-if="!app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple).hidden-xs
          img(src="assets/img/newIcons/menu-retractil-close.svg", alt="icon-menu-retractil")
        a(ng-if="!app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-open.svg", alt="icon-menu-retractil")
        a(ng-if="app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-close.svg", alt="icon-menu-retractil")
      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.internal.in.page({page:1})"  )
          img(src="assets/img/newIcons/recibidos.svg", alt="icon-menu-retractil")
      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.internal.out.page({page:1})")
          img(src="assets/img/newIcons/enviados.svg", alt="icon-menu-retractil")
      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.internal.collaboration.page({page:1})")
          img(src="assets/img/newIcons/en-colaboracion.svg", alt="icon-menu-retractil")
      //- li
      //-   a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.internal.elaborated.page({page:1})")
      //-     img(src="assets/img/newIcons/elaborados.svg", alt="icon-menu-retractil")
      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.internal.drafts")
          img(src="assets/img/newIcons/borradores.svg", alt="icon-menu-retractil")
      li(ng-if="ntc.originSinaloa()")
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.share")
          img(src="assets/img/newIcons/borradores.svg", alt="icon-menu-retractil")



    // MENU SM INTERNAL INBOX
    ul.nav.navbar-nav.visible-sm(style="font-size: xx-small !important; ")
      li
        // Button used to collapse the left sidebar. Only visible on tablet and desktops
        a(ng-if="app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple).hidden-xs
          img(src="assets/img/newIcons/menu-retractil-open.svg", alt="icon-menu-retractil")
        a(ng-if="!app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple).hidden-xs
          img(src="assets/img/newIcons/menu-retractil-close.svg", alt="icon-menu-retractil")
        a(ng-if="!app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-open.svg", alt="icon-menu-retractil")
        a(ng-if="app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-close.svg", alt="icon-menu-retractil")


      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.internal.in.page({page:1})"  )
          img(src="assets/img/newIcons/recibidos.svg", alt="icon-menu-retractil" style="padding-right: 0.5em;")
          | Recibidos
      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.internal.out.page({page:1})")
          img(src="assets/img/newIcons/enviados.svg", alt="icon-menu-retractil" style="padding-right: 0.5em;")
          | Enviados
      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.internal.collaboration.page({page:1})")
          img(src="assets/img/newIcons/en-colaboracion.svg", alt="icon-menu-retractil" style="padding-right: 0.5em;")
          | En colaboración
      //- li
      //-   a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.internal.elaborated.page({page:1})")
      //-     img(src="assets/img/newIcons/elaborados.svg", alt="icon-menu-retractil" style="padding-right: 0.5em;")
      //-     | Elaborados

      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.internal.drafts")
          img(src="assets/img/newIcons/borradores.svg", alt="icon-menu-retractil" style="padding-right: 0.5em;")
          | Borradores
      li(ng-if="ntc.originSinaloa()")
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.share")
          img(src="assets/img/newIcons/borradores.svg", alt="icon-menu-retractil" style="padding-right: 0.5em;")
          | Viaticos






    // MENU MD INTERNAL INBOX
    ul.nav.navbar-nav.visible-md(style="font-size: smaller;")
      li
        // Button used to collapse the left sidebar. Only visible on tablet and desktops
        a(ng-if="app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple).hidden-xs
          img(src="assets/img/newIcons/menu-retractil-open.svg", alt="icon-menu-retractil")
        a(ng-if="!app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple).hidden-xs
          img(src="assets/img/newIcons/menu-retractil-close.svg", alt="icon-menu-retractil")
        a(ng-if="!app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-open.svg", alt="icon-menu-retractil")
        a(ng-if="app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-close.svg", alt="icon-menu-retractil")

      li(style="padding-top: 1em;" ng-if="'app.mailbox.compose' !== $state.current.name")
        button.btn.btn-secondary.btn-sm.pull-left.animated(ui-sref="app.mailbox.compose" style="font-weight: 600;")
          img(src="assets/img/newIcons/crear-oficio.svg", alt="icon-menu-retractil" style="padding-right: 1em;")
          |  Crear oficio
      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.internal.in.page({page:1})"  )
          img(src="assets/img/newIcons/recibidos.svg", alt="icon-menu-retractil" style="padding-right: 0.5em;")
          | Recibidos
      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.internal.out.page({page:1})")
          img(src="assets/img/newIcons/enviados.svg", alt="icon-menu-retractil" style="padding-right: 0.5em;")
          | Enviados
      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.internal.collaboration.page({page:1})")
          img(src="assets/img/newIcons/en-colaboracion.svg", alt="icon-menu-retractil" style="padding-right: 0.5em;")
          | En colaboración
      //- li
      //-   a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.internal.elaborated.page({page:1})")
      //-     img(src="assets/img/newIcons/elaborados.svg", alt="icon-menu-retractil" style="padding-right: 0.5em;")
      //-     | Elaborados

      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.internal.drafts")
          img(src="assets/img/newIcons/borradores.svg", alt="icon-menu-retractil" style="padding-right: 0.5em;")
          | Borradores

      li(ng-if="ntc.originSinaloa()")
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.share")
          img(src="assets/img/newIcons/borradores.svg", alt="icon-menu-retractil" style="padding-right: 0.5em;")
          | Viaticos


    // MENU LG INTERNAL INBOX
    ul.nav.navbar-nav.visible-lg(style="font-size: smaller;")
      li
        // Button used to collapse the left sidebar. Only visible on tablet and desktops
        a(ng-if="app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple)
          img(src="assets/img/newIcons/menu-retractil-open.svg", alt="icon-menu-retractil")
        a(ng-if="!app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple)
          img(src="assets/img/newIcons/menu-retractil-close.svg", alt="icon-menu-retractil")
        a(ng-if="!app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-open.svg", alt="icon-menu-retractil")
        a(ng-if="app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-close.svg", alt="icon-menu-retractil")
      li(style="min-width: 18em; white-space: nowrap;")
        a#titleName(style="font-size: large; font-weight: 600;") {{ntc.currentPath}}
      li(style="padding-top: 1em;" ng-if="'app.mailbox.compose' !== $state.current.name")
        button.btn.btn-secondary.btn-sm.pull-left.animated(ui-sref="app.mailbox.compose" style="font-weight: 600;")
          img(src="assets/img/newIcons/crear-oficio.svg", alt="icon-menu-retractil" style="padding-right: 1em;")
          |  Crear oficio
      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.internal.in.page({page:1})"  )
          img(src="assets/img/newIcons/recibidos.svg", alt="icon-menu-retractil" style="padding-right: 0.5em;")
          | Recibidos
      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.internal.out.page({page:1})")
          img(src="assets/img/newIcons/enviados.svg", alt="icon-menu-retractil" style="padding-right: 0.5em;")
          | Enviados
      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.internal.collaboration.page({page:1})")
          img(src="assets/img/newIcons/en-colaboracion.svg", alt="icon-menu-retractil" style="padding-right: 0.5em;")
          | En colaboración
      //- li
      //-   a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.internal.elaborated.page({page:1})")
      //-     img(src="assets/img/newIcons/elaborados.svg", alt="icon-menu-retractil" style="padding-right: 0.5em;")
      //-     | Elaborados

      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.internal.drafts")
          img(src="assets/img/newIcons/borradores.svg", alt="icon-menu-retractil" style="padding-right: 0.5em;")
          | Borradores
      li(ng-if="ntc.originSinaloa()")
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.share")
          img(src="assets/img/newIcons/borradores.svg", alt="icon-menu-retractil" style="padding-right: 0.5em;")
          | Viaticos




    // START Right Navbar
    ul.nav.navbar-nav.navbar-right
      // START Offsidebar button
      li.visible-lg
        a(href='', ng-click="app.offsidebarOpen = !app.offsidebarOpen")
          em.fa.fa-align-right
      li.dropdown.dropdown-list(uib-dropdown="")
        a(uib-dropdown-toggle="")
          em.fa.fa-bell

          .label.label-rejected {{ntc.notificationsCount}}

        ul.dropdown-menu(class="animated flipInX")
          li(ng-repeat="notification in ntc.flipNotification")
            .list-group
              //- a.list-group-item(ng-click="ntc.goNotification(notification); ntc.readNotification(notification)" ui-sref="app.mailbox.internal.in.view({mid: notification.document})")
              a.list-group-item(ng-if="notification.jobTitleID !== ntc.profile.jobTitle.id" ng-click="ntc.goNotification(notification); ntc.readNotification(notification)" )
                .media-box
                  .pull-left
                    em.fa.fa-envelope.fa-2x.text-warning
                  .media-box-body.clearfix
                      p.m0 {{notification.header}}
                      p.m0.text-muted : {{notification.message}}
              a.list-group-item(ng-if="notification.jobTitleID === ntc.profile.jobTitle.id" ng-click="ntc.goNotification(notification); ntc.readNotification(notification)" )
                .media-box
                  .pull-left
                    em.fa.fa-envelope.fa-2x.text-warning
                  .media-box-body.clearfix
                      p.m0 {{notification.header}}
                      p.m0.text-muted : {{notification.message}}
          li
            .list-group(ng-if="ntc.notificationsCount === 0 && ntc.profile.jobTitleID")
              a.list-group-item

                small No tienes notificaciones

            .list-group(ng-if="ntc.notificationsCount === 0 && !ntc.profile.jobTitleID")
              a.list-group-item


                small(ng-if="!ntc.profile.jobTitleID") No tienes puesto de trabajo

          li
            .list-group(ng-if="(ntc.notificationsCount - ntc.flipNotification.length) > 0")
              a.list-group-item(ui-sref="app.notifications")

                small Ver más
                span.label.label-rejected.pull-right {{ntc.notificationsCount - ntc.flipNotification.length}}



      li.dropdown.dropdown-list(uib-dropdown="")
        a(uib-dropdown-toggle="")
          img.img-circle(style = "height: 1.47em;" ng-src="{{ntc.profile.avatar}}", alt="Avatar", title="{{ntc.profile.email}}")

        ul.dropdown-menu(class="animated flipInX")
          li
            a(ui-sref="app.profile")
              img.img-thumbnail.img-circle(style = "height: 3em;" ng-src="{{ntc.profile.avatar}}", alt="Avatar", title="{{ntc.profile.email}}")
              span.profileNameNavItem {{ntc.profile.name}}

          li
            a(ng-click="ntc.logOut()")
              | Cerrar sesión
              i.fa.fa-sign-out


  // START Nav wrapper internal Archived
  .nav-wrapper(ng-if= "ntc.onInternalArchived()")
    // MENU XS INTERNAL INBOX
    ul.nav.navbar-nav.visible-xs
      li
        // Button used to collapse the left sidebar. Only visible on tablet and desktops
        a(ng-if="app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple).hidden-xs
          img(src="assets/img/newIcons/menu-retractil-open.svg", alt="icon-menu-retractil")
        a(ng-if="!app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple).hidden-xs
          img(src="assets/img/newIcons/menu-retractil-close.svg", alt="icon-menu-retractil")
        a(ng-if="!app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-open.svg", alt="icon-menu-retractil")
        a(ng-if="app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-close.svg", alt="icon-menu-retractil")
      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.internal.archived"  )
          img(src="assets/img/newIcons/archivados-recibidos.svg", alt="icon-menu-retractil")
      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.internal.archivedOut")
          img(src="assets/img/newIcons/archivados-enviados.svg", alt="icon-menu-retractil")

    // MENU SM INTERNAL INBOX
    ul.nav.navbar-nav.visible-sm(style="font-size: xx-small !important; ")
      li
        // Button used to collapse the left sidebar. Only visible on tablet and desktops
        a(ng-if="app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple).hidden-xs
          img(src="assets/img/newIcons/menu-retractil-open.svg", alt="icon-menu-retractil")
        a(ng-if="!app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple).hidden-xs
          img(src="assets/img/newIcons/menu-retractil-close.svg", alt="icon-menu-retractil")
        a(ng-if="!app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-open.svg", alt="icon-menu-retractil")
        a(ng-if="app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-close.svg", alt="icon-menu-retractil")
      li(style="min-width: 18em; white-space: nowrap;")
        a#titleName(style="font-size: large; font-weight: 600;") {{ntc.currentPath}}

      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.internal.archived"  )
          img(src="assets/img/newIcons/archivados-recibidos.svg", alt="icon-menu-retractil" style="padding-right: 0.5em;")
          | Recibidos
      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.internal.archivedOut")
          img(src="assets/img/newIcons/archivados-enviados.svg", alt="icon-menu-retractil" style="padding-right: 0.5em;")
          | Enviados

    // MENU MD INTERNAL INBOX
    ul.nav.navbar-nav.visible-md(style="font-size: smaller;")
      li
        // Button used to collapse the left sidebar. Only visible on tablet and desktops
        a(ng-if="app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple).hidden-xs
          img(src="assets/img/newIcons/menu-retractil-open.svg", alt="icon-menu-retractil")
        a(ng-if="!app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple).hidden-xs
          img(src="assets/img/newIcons/menu-retractil-close.svg", alt="icon-menu-retractil")
        a(ng-if="!app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-open.svg", alt="icon-menu-retractil")
        a(ng-if="app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-close.svg", alt="icon-menu-retractil")
      li(style="min-width: 18em; white-space: nowrap;")
        a#titleName(style="font-size: large; font-weight: 600;") {{ntc.currentPath}}
      li(style="padding-top: 1em;" ng-if="'app.mailbox.compose' !== $state.current.name")
        button.btn.btn-secondary.btn-sm.pull-left.animated(ui-sref="app.mailbox.compose" style="font-weight: 600;")
          img(src="assets/img/newIcons/crear-oficio.svg", alt="icon-menu-retractil" style="padding-right: 1em;")
          |  Crear oficio




      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.internal.archived"  )
          img(src="assets/img/newIcons/archivados-recibidos.svg", alt="icon-menu-retractil" style="padding-right: 0.5em;")
          | Recibidos
      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.internal.archivedOut")
          img(src="assets/img/newIcons/archivados-enviados.svg", alt="icon-menu-retractil" style="padding-right: 0.5em;")
          | Enviados
    // MENU LG INTERNAL INBOX
    ul.nav.navbar-nav.visible-lg(style="font-size: smaller;")
      li
        // Button used to collapse the left sidebar. Only visible on tablet and desktops
        a(ng-if="app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple)
          img(src="assets/img/newIcons/menu-retractil-open.svg", alt="icon-menu-retractil")
        a(ng-if="!app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple)
          img(src="assets/img/newIcons/menu-retractil-close.svg", alt="icon-menu-retractil")
        a(ng-if="!app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-open.svg", alt="icon-menu-retractil")
        a(ng-if="app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-close.svg", alt="icon-menu-retractil")

      li(style="min-width: 18em; white-space: nowrap;")
        a#titleName(style="font-size: large; font-weight: 600;") {{ntc.currentPath}}

      li(style="padding-top: 1em;" ng-if="'app.mailbox.compose' !== $state.current.name")
        button.btn.btn-secondary.btn-sm.pull-left.animated(ui-sref="app.mailbox.compose" style="font-weight: 600;")
          img(src="assets/img/newIcons/crear-oficio.svg", alt="icon-menu-retractil" style="padding-right: 1em;")
          |  Crear oficio

      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.internal.archived"  )
          img(src="assets/img/newIcons/archivados-recibidos.svg", alt="icon-menu-retractil" style="padding-right: 0.5em;")
          | Recibidos
      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.internal.archivedOut")
          img(src="assets/img/newIcons/archivados-enviados.svg", alt="icon-menu-retractil" style="padding-right: 0.5em;")
          | Enviados




    // START Right Navbar
    ul.nav.navbar-nav.navbar-right
      // START Offsidebar button
      li.visible-lg
        a(href='', ng-click="app.offsidebarOpen = !app.offsidebarOpen")
          em.fa.fa-align-right
      li.dropdown.dropdown-list(uib-dropdown="")
        a(uib-dropdown-toggle="")
          em.fa.fa-bell
          .label.label-rejected {{ntc.notificationsCount}}

        ul.dropdown-menu(class="animated flipInX")
          li(ng-repeat="notification in ntc.flipNotification")
            .list-group
              //- a.list-group-item(ng-click="ntc.goNotification(notification); ntc.readNotification(notification)" ui-sref="app.mailbox.internal.in.view({mid: notification.document})")
              a.list-group-item(ng-if="notification.jobTitleID !== ntc.profile.jobTitle.id" ng-click="ntc.goNotification(notification); ntc.readNotification(notification)")
                .media-box
                  .pull-left
                    em.fa.fa-envelope.fa-2x.text-warning
                  .media-box-body.clearfix
                      p.m0 {{notification.header}}
                      p.m0.text-muted : {{notification.message}}
              a.list-group-item(ng-if="notification.jobTitleID === ntc.profile.jobTitle.id" ng-click="ntc.goNotification(notification); ntc.readNotification(notification)")
                .media-box
                  .pull-left
                    em.fa.fa-envelope.fa-2x.text-warning
                  .media-box-body.clearfix
                      p.m0 {{notification.header}}
                      p.m0.text-muted : {{notification.message}}
          li
            .list-group(ng-if="ntc.notificationsCount === 0 && ntc.profile.jobTitleID")
              a.list-group-item

                small No tienes notificaciones

            .list-group(ng-if="ntc.notificationsCount === 0 && !ntc.profile.jobTitleID")
              a.list-group-item


                small(ng-if="!ntc.profile.jobTitleID") No tienes puesto de trabajo

          li
            .list-group(ng-if="(ntc.notificationsCount - ntc.flipNotification.length) > 0")
              a.list-group-item(ui-sref="app.notifications")

                small Ver más
                span.label.label-rejected.pull-right {{ntc.notificationsCount - ntc.flipNotification.length}}



      li.dropdown.dropdown-list(uib-dropdown="")
        a(uib-dropdown-toggle="")
          img.img-circle(style = "height: 1.47em;" ng-src="{{ntc.profile.avatar}}", alt="Avatar", title="{{ntc.profile.email}}")

        ul.dropdown-menu(class="animated flipInX")
          li
            a(ui-sref="app.profile")
              img.img-thumbnail.img-circle(style = "height: 3em;" ng-src="{{ntc.profile.avatar}}", alt="Avatar", title="{{ntc.profile.email}}")
              span.profileNameNavItem {{ntc.profile.name}}

          li
            a(ng-click="ntc.logOut()")
              | Cerrar sesión
              i.fa.fa-sign-out

































  // START Nav wrapper EXTERNAL
  .nav-wrapper(ng-if= "ntc.onExternal()")
    // MENU XS INTERNAL INBOX
    ul.nav.navbar-nav.visible-xs

      li
        // Button used to collapse the left sidebar. Only visible on tablet and desktops
        a(ng-if="app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple).hidden-xs
          img(src="assets/img/newIcons/menu-retractil-open.svg", alt="icon-menu-retractil")
        a(ng-if="!app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple).hidden-xs
          img(src="assets/img/newIcons/menu-retractil-close.svg", alt="icon-menu-retractil")
        a(ng-if="!app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-open.svg", alt="icon-menu-retractil")
        a(ng-if="app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-close.svg", alt="icon-menu-retractil")
      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref='app.mailbox.external.in.page({page:1, jobTitle: ntc.currentUser.jobTitleID})'  )
          img(src="assets/img/newIcons/recibidos.svg", alt="icon-menu-retractil")
      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.external.out.page({page:1,jobTitle: ntc.currentUser.jobTitleID})")
          img(src="assets/img/newIcons/enviados.svg", alt="icon-menu-retractil")
      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.external.turned.page({page:1,jobTitle: ntc.currentUser.jobTitleID})")
          img(src="assets/img/newIcons/turnados.svg", alt="icon-menu-retractil")

      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.external.archived.page({page:1, jobTitle: ntc.currentUser.jobTitleID})"  )
          img(src="assets/img/newIcons/archivados.svg", alt="icon-menu-retractil")

    // MENU SM INTERNAL INBOX
    ul.nav.navbar-nav.visible-sm(style="font-size: xx-small !important; ")
      li
        // Button used to collapse the left sidebar. Only visible on tablet and desktops
        a(ng-if="app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple).hidden-xs
          img(src="assets/img/newIcons/menu-retractil-open.svg", alt="icon-menu-retractil")
        a(ng-if="!app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple).hidden-xs
          img(src="assets/img/newIcons/menu-retractil-close.svg", alt="icon-menu-retractil")
        a(ng-if="!app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-open.svg", alt="icon-menu-retractil")
        a(ng-if="app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-close.svg", alt="icon-menu-retractil")
      li(style="min-width: 18em; white-space: nowrap;")
        a#titleName(style="font-size: large; font-weight: 600;") {{ntc.currentPath}}

      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref='app.mailbox.external.in.page({page:1, jobTitle: ntc.currentUser.jobTitleID})'  )
          img(src="assets/img/newIcons/recibidos.svg", alt="icon-menu-retractil" style="padding-right: 0.5em;")
          | Recibidos
      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.external.out.page({page:1,jobTitle: ntc.currentUser.jobTitleID})")
          img(src="assets/img/newIcons/enviados.svg", alt="icon-menu-retractil" style="padding-right: 0.5em;")
          | Enviados
      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.external.turned.page({page:1,jobTitle: ntc.currentUser.jobTitleID})")
          img(src="assets/img/newIcons/turnados.svg", alt="icon-menu-retractil")
          | Turnados
      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.external.archived.page({page:1, jobTitle: ntc.currentUser.jobTitleID})"  )
          img(src="assets/img/newIcons/archivados.svg", alt="icon-menu-retractil")
          | Archivados

    // MENU MD INTERNAL INBOX
    ul.nav.navbar-nav.visible-md(style="font-size: smaller;")
      li
        // Button used to collapse the left sidebar. Only visible on tablet and desktops
        a(ng-if="app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple).hidden-xs
          img(src="assets/img/newIcons/menu-retractil-open.svg", alt="icon-menu-retractil")
        a(ng-if="!app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple).hidden-xs
          img(src="assets/img/newIcons/menu-retractil-close.svg", alt="icon-menu-retractil")
        a(ng-if="!app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-open.svg", alt="icon-menu-retractil")
        a(ng-if="app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-close.svg", alt="icon-menu-retractil")
      li(style="min-width: 18em; white-space: nowrap;")
        a#titleName(style="font-size: large; font-weight: 600;") {{ntc.currentPath}}



      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref='app.mailbox.external.in.page({page:1, jobTitle: ntc.currentUser.jobTitleID})'  )
          img(src="assets/img/newIcons/recibidos.svg", alt="icon-menu-retractil" style="padding-right: 0.5em;")
          | Recibidos
      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref='app.mailbox.external.out.page({page:1,jobTitle: ntc.currentUser.jobTitleID})'  )
          img(src="assets/img/newIcons/enviados.svg", alt="icon-menu-retractil" style="padding-right: 0.5em;")
          | Enviados
      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.external.turned.page({page:1,jobTitle: ntc.currentUser.jobTitleID})")
          img(src="assets/img/newIcons/turnados.svg", alt="icon-menu-retractil")
          | Turnados
      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.external.archived.page({page:1, jobTitle: ntc.currentUser.jobTitleID})"  )
          img(src="assets/img/newIcons/archivados.svg", alt="icon-menu-retractil" style="padding-right: 0.5em;")
          | Archivados



      li
    // MENU LG INTERNAL INBOX
    ul.nav.navbar-nav.visible-lg(style="font-size: smaller;")
      li
        // Button used to collapse the left sidebar. Only visible on tablet and desktops
        a(ng-if="app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple)
          img(src="assets/img/newIcons/menu-retractil-open.svg", alt="icon-menu-retractil")
        a(ng-if="!app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple)
          img(src="assets/img/newIcons/menu-retractil-close.svg", alt="icon-menu-retractil")
        a(ng-if="!app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-open.svg", alt="icon-menu-retractil")
        a(ng-if="app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-close.svg", alt="icon-menu-retractil")

      li(style="min-width: 18em; white-space: nowrap;")
        a#titleName(style="font-size: large; font-weight: 600;") {{ntc.currentPath}}




      li.dropdown.dropdown-list.animated(uib-dropdown="")
        a(uib-dropdown-toggle="") Elige un colaborador
          img.img-circle(style = "height: 1.8em; padding-left:5px;" ng-src="{{ntc.currentUser.avatar}}", alt="Avatar", title="{{ntc.currentUser.name}}")


        ul.dropdown-menu(class="animated flipInX")
          li(ng-repeat="user in ntc.users")
            .list-group
              a.list-group-item(ng-click="ntc.changeUser(user)")
                .media-box
                  .pull-left
                    img.img-circle(style = "height: 35px; margin-top: 10px;" ng-src="{{user.avatar}}", alt="Avatar", title="{{user.email}}")
                  .media-box-body.clearfix
                    p.m0.text-blue {{user.bossName}}
                    p.m0.text-danger {{user.bossJobTitleName}}
                    p.m0.text-muted {{user.email}}

      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref='app.mailbox.external.in.page({page:1, jobTitle: ntc.currentUser.jobTitleID})'  )
          img(src="assets/img/newIcons/recibidos.svg", alt="icon-menu-retractil" style="padding-right: 0.5em;")
          | Recibidos
      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref='app.mailbox.external.out.page({page:1,jobTitle: ntc.currentUser.jobTitleID})'  )
          img(src="assets/img/newIcons/enviados.svg", alt="icon-menu-retractil" style="padding-right: 0.5em;")
          | Enviados
      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref='app.mailbox.external.turned({jobTitle: ntc.currentUser.jobTitleID})'  )
          img(src="assets/img/newIcons/turnados.svg", alt="icon-menu-retractil" style="padding-right: 0.5em;")
          | Turnados
      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.external.archived.page({page:1, jobTitle: ntc.currentUser.jobTitleID})"  )
          img(src="assets/img/newIcons/archivados.svg", alt="icon-menu-retractil" style="padding-right: 0.5em;")
          | Archivados




    // START Right Navbar
    ul.nav.navbar-nav.navbar-right
      // START Offsidebar button
      li.visible-lg
        a(href='', ng-click="app.offsidebarOpen = !app.offsidebarOpen")
          em.fa.fa-align-right
      li.dropdown.dropdown-list(uib-dropdown="")
        a(uib-dropdown-toggle="")
          em.fa.fa-bell
          .label.label-rejected {{ntc.notificationsCount}}

        ul.dropdown-menu(class="animated flipInX")
          li(ng-repeat="notification in ntc.flipNotification")
            .list-group
              //- a.list-group-item(ng-click="ntc.goNotification(notification); ntc.readNotification(notification)" ui-sref="app.mailbox.internal.in.view({mid: notification.document})")
              a.list-group-item(ng-if="notification.jobTitleID !== ntc.profile.jobTitle.id" )
                .media-box
                  .pull-left
                    em.fa.fa-envelope.fa-2x.text-warning
                  .media-box-body.clearfix
                      p.m0 {{notification.header}}
                      p.m0.text-muted : {{notification.message}}
              a.list-group-item(ng-if="notification.jobTitleID === ntc.profile.jobTitle.id" ng-click="ntc.goNotification(notification); ntc.readNotification(notification)" )
                .media-box
                  .pull-left
                    em.fa.fa-envelope.fa-2x.text-warning
                  .media-box-body.clearfix
                      p.m0 {{notification.header}}
                      p.m0.text-muted : {{notification.message}}
          li
            .list-group(ng-if="ntc.notificationsCount === 0 && ntc.profile.jobTitleID")
              a.list-group-item

                small No tienes notificaciones

            .list-group(ng-if="ntc.notificationsCount === 0 && !ntc.profile.jobTitleID")
              a.list-group-item


                small(ng-if="!ntc.profile.jobTitleID") No tienes puesto de trabajo

          li
            .list-group(ng-if="(ntc.notificationsCount - ntc.flipNotification.length) > 0")
              a.list-group-item(ui-sref="app.notifications")

                small Ver más
                span.label.label-rejected.pull-right {{ntc.notificationsCount - ntc.flipNotification.length}}



      li.dropdown.dropdown-list(uib-dropdown="")
        a(uib-dropdown-toggle="")
          img.img-circle(style = "height: 1.47em;" ng-src="{{ntc.profile.avatar}}", alt="Avatar", title="{{ntc.profile.email}}")

        ul.dropdown-menu(class="animated flipInX")
          li
            a(ui-sref="app.profile")
              img.img-thumbnail.img-circle(style = "height: 3em;" ng-src="{{ntc.profile.avatar}}", alt="Avatar", title="{{ntc.profile.email}}")
              span.profileNameNavItem {{ntc.profile.name}}

          li
            a(ng-click="ntc.logOut()")
              | Cerrar sesión
              i.fa.fa-sign-out

























































































































































































































































































































































































  // START Nav wrapper EXTERNAL
  .nav-wrapper(ng-if= "ntc.onExternalArchived()")
    // MENU XS INTERNAL INBOX
    ul.nav.navbar-nav.visible-xs

      li
        // Button used to collapse the left sidebar. Only visible on tablet and desktops
        a(ng-if="app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple).hidden-xs
          img(src="assets/img/newIcons/menu-retractil-open.svg", alt="icon-menu-retractil")
        a(ng-if="!app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple).hidden-xs
          img(src="assets/img/newIcons/menu-retractil-close.svg", alt="icon-menu-retractil")
        a(ng-if="!app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-open.svg", alt="icon-menu-retractil")
        a(ng-if="app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-close.svg", alt="icon-menu-retractil")

      li
        a(ui-sref="app.mailbox.external.in.page({page:1, jobTitle: ntc.currentUser.jobTitleID})" style="font-weight: 600;")
          img(src="assets/img/newIcons/regresar-compartidos.svg" alt="icon-menu-retractil" style="padding-right: 1em;")
      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.external.archived.page({page:1, jobTitle: ntc.currentUser.jobTitleID})"  )
          img(src="assets/img/newIcons/archivados-recibidos.svg", alt="icon-menu-retractil")
      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.external.archivedOut.page({page:1, jobTitle: ntc.currentUser.jobTitleID})")
          img(src="assets/img/newIcons/archivados-enviados.svg", alt="icon-menu-retractil")

    // MENU SM INTERNAL INBOX
    ul.nav.navbar-nav.visible-sm(style="font-size: xx-small !important; ")
      li
        // Button used to collapse the left sidebar. Only visible on tablet and desktops
        a(ng-if="app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple).hidden-xs
          img(src="assets/img/newIcons/menu-retractil-open.svg", alt="icon-menu-retractil")
        a(ng-if="!app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple).hidden-xs
          img(src="assets/img/newIcons/menu-retractil-close.svg", alt="icon-menu-retractil")
        a(ng-if="!app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-open.svg", alt="icon-menu-retractil")
        a(ng-if="app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-close.svg", alt="icon-menu-retractil")
      li(style="width: 18em;")
        a#titleName(style="font-size: large; font-weight: 600;") {{ntc.currentPath}}

      li
        a(ui-sref="app.mailbox.external.in.page({page:1, jobTitle: ntc.currentUser.jobTitleID})" style="font-weight: 600;")
          img(src="assets/img/newIcons/regresar-compartidos.svg" alt="icon-menu-retractil" style="padding-right: 1em;")
          |  Regresar


      li.dropdown.dropdown-list.animated(uib-dropdown="")
        a(uib-dropdown-toggle="") Elige un colaborador
          img.img-circle(style = "height: 1.8em; padding-left:5px;" ng-src="{{ntc.currentUser.avatar}}", alt="Avatar", title="{{ntc.currentUser.name}}")


        ul.dropdown-menu(class="animated flipInX")
          li(ng-repeat="user in ntc.users")
            .list-group
              a.list-group-item(ng-click="ntc.changeUser(user)")
                .media-box
                  .pull-left
                    img.img-circle(style = "height: 35px; margin-top: 10px;" ng-src="{{user.avatar}}", alt="Avatar", title="{{user.email}}")
                  .media-box-body.clearfix
                    p.m0.text-blue {{user.bossName}}
                    p.m0.text-danger {{user.bossJobTitleName}}
                    p.m0.text-muted {{user.email}}

      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.external.archived.page({page:1, jobTitle: ntc.currentUser.jobTitleID})"  )
          img(src="assets/img/newIcons/archivados-recibidos.svg", alt="icon-menu-retractil")
          | Recibidos
      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.external.archivedOut.page({page:1, jobTitle: ntc.currentUser.jobTitleID})")
          img(src="assets/img/newIcons/archivados-enviados.svg", alt="icon-menu-retractil")
          | Enviados

    // MENU MD INTERNAL INBOX
    ul.nav.navbar-nav.visible-md(style="font-size: smaller;")
      li
        // Button used to collapse the left sidebar. Only visible on tablet and desktops
        a(ng-if="app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple).hidden-xs
          img(src="assets/img/newIcons/menu-retractil-open.svg", alt="icon-menu-retractil")
        a(ng-if="!app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple).hidden-xs
          img(src="assets/img/newIcons/menu-retractil-close.svg", alt="icon-menu-retractil")
        a(ng-if="!app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-open.svg", alt="icon-menu-retractil")
        a(ng-if="app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-close.svg", alt="icon-menu-retractil")
      li(style="width: 18em;")
        a#titleName(style="font-size: large; font-weight: 600;") {{ntc.currentPath}}

      li
        a(ui-sref="app.mailbox.external.in.page({page:1, jobTitle: ntc.currentUser.jobTitleID})" style="font-weight: 600;")
          img(src="assets/img/newIcons/regresar-compartidos.svg" alt="icon-menu-retractil" style="padding-right: 1em;")
          |  Regresar

      li.dropdown.dropdown-list.animated(uib-dropdown="")
        a(uib-dropdown-toggle="") Elige un colaborador
          img.img-circle(style = "height: 1.8em; padding-left:5px;" ng-src="{{ntc.currentUser.avatar}}", alt="Avatar", title="{{ntc.currentUser.name}}")


        ul.dropdown-menu(class="animated flipInX")
          li(ng-repeat="user in ntc.users")
            .list-group
              a.list-group-item(ng-click="ntc.changeUser(user)")
                .media-box
                  .pull-left
                    img.img-circle(style = "height: 35px; margin-top: 10px;" ng-src="{{user.avatar}}", alt="Avatar", title="{{user.email}}")
                  .media-box-body.clearfix
                    p.m0.text-blue {{user.bossName}}
                    p.m0.text-danger {{user.bossJobTitleName}}
                    p.m0.text-muted {{user.email}}

      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.external.archived.page({page:1, jobTitle: ntc.currentUser.jobTitleID})"  )
          img(src="assets/img/newIcons/archivados-recibidos.svg", alt="icon-menu-retractil" style="padding-right: 0.5em;")
          | Recibidos
      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.external.archivedOut.page({page:1, jobTitle: ntc.currentUser.jobTitleID})")
          img(src="assets/img/newIcons/archivados-enviados.svg", alt="icon-menu-retractil" style="padding-right: 0.5em;")
          | Enviados


    // MENU LG INTERNAL INBOX
    ul.nav.navbar-nav.visible-lg(style="font-size: smaller;")
      li
        // Button used to collapse the left sidebar. Only visible on tablet and desktops
        a(ng-if="app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple)
          img(src="assets/img/newIcons/menu-retractil-open.svg", alt="icon-menu-retractil")
        a(ng-if="!app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple)
          img(src="assets/img/newIcons/menu-retractil-close.svg", alt="icon-menu-retractil")
        a(ng-if="!app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-open.svg", alt="icon-menu-retractil")
        a(ng-if="app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-close.svg", alt="icon-menu-retractil")

      li(style="width: 18em;")
        a#titleName(style="font-size: large; font-weight: 600;") {{ntc.currentPath}}


      li
        a(ui-sref="app.mailbox.external.in.page({page:1, jobTitle: ntc.currentUser.jobTitleID})" style="font-weight: 600;")
          img(src="assets/img/newIcons/regresar-compartidos.svg" alt="icon-menu-retractil" style="padding-right: 1em;")
          |  Regresar



      li.dropdown.dropdown-list.animated(uib-dropdown="")
        a(uib-dropdown-toggle="") Elige un colaborador
          img.img-circle(style = "height: 1.8em; padding-left:5px;" ng-src="{{ntc.currentUser.avatar}}", alt="Avatar", title="{{ntc.currentUser.name}}")


        ul.dropdown-menu(class="animated flipInX")
          li(ng-repeat="user in ntc.users")
            .list-group
              a.list-group-item(ng-click="ntc.changeUser(user)")
                .media-box
                  .pull-left
                    img.img-circle(style = "height: 35px; margin-top: 10px;" ng-src="{{user.avatar}}", alt="Avatar", title="{{user.email}}")
                  .media-box-body.clearfix
                    p.m0.text-blue {{user.bossName}}
                    p.m0.text-danger {{user.bossJobTitleName}}
                    p.m0.text-muted {{user.email}}

      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.external.archived.page({page:1, jobTitle: ntc.currentUser.jobTitleID})"  )
          img(src="assets/img/newIcons/archivados-recibidos.svg", alt="icon-menu-retractil" style="padding-right: 0.5em;")
          | Recibidos
      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.external.archivedOut.page({page:1, jobTitle: ntc.currentUser.jobTitleID})")
          img(src="assets/img/newIcons/archivados-enviados.svg", alt="icon-menu-retractil" style="padding-right: 0.5em;")
          | Enviados



    // START Right Navbar
    ul.nav.navbar-nav.navbar-right
      // START Offsidebar button
      li.visible-lg
        a(href='', ng-click="app.offsidebarOpen = !app.offsidebarOpen")
          em.fa.fa-align-right
      li.dropdown.dropdown-list(uib-dropdown="")
        a(uib-dropdown-toggle="")
          em.fa.fa-bell
          .label.label-rejected {{ntc.notificationsCount}}

        ul.dropdown-menu(class="animated flipInX")
          li(ng-repeat="notification in ntc.flipNotification")
            .list-group
              //- a.list-group-item(ng-click="ntc.goNotification(notification); ntc.readNotification(notification)" ui-sref="app.mailbox.internal.in.view({mid: notification.document})")
              a.list-group-item(ng-if="notification.jobTitleID !== ntc.profile.jobTitle.id" ng-click="ntc.goNotification(notification); ntc.readNotification(notification)" )
                .media-box
                  .pull-left
                    em.fa.fa-envelope.fa-2x.text-warning
                  .media-box-body.clearfix
                      p.m0 {{notification.header}}
                      p.m0.text-muted : {{notification.message}}
              a.list-group-item(ng-if="notification.jobTitleID === ntc.profile.jobTitle.id" ng-click="ntc.goNotification(notification); ntc.readNotification(notification)" )
                .media-box
                  .pull-left
                    em.fa.fa-envelope.fa-2x.text-warning
                  .media-box-body.clearfix
                      p.m0 {{notification.header}}
                      p.m0.text-muted : {{notification.message}}
          li
            .list-group(ng-if="ntc.notificationsCount === 0 && ntc.profile.jobTitleID")
              a.list-group-item

                small No tienes notificaciones

            .list-group(ng-if="ntc.notificationsCount === 0 && !ntc.profile.jobTitleID")
              a.list-group-item


                small(ng-if="!ntc.profile.jobTitleID") No tienes puesto de trabajo

          li
            .list-group(ng-if="(ntc.notificationsCount - ntc.flipNotification.length) > 0")
              a.list-group-item(ui-sref="app.notifications")

                small Ver más
                span.label.label-rejected.pull-right {{ntc.notificationsCount - ntc.flipNotification.length}}



      li.dropdown.dropdown-list(uib-dropdown="")
        a(uib-dropdown-toggle="")
          img.img-circle(style = "height: 1.47em;" ng-src="{{ntc.profile.avatar}}", alt="Avatar", title="{{ntc.profile.email}}")

        ul.dropdown-menu(class="animated flipInX")
          li
            a(ui-sref="app.profile")
              img.img-thumbnail.img-circle(style = "height: 3em;" ng-src="{{ntc.profile.avatar}}", alt="Avatar", title="{{ntc.profile.email}}")
              span.profileNameNavItem {{ntc.profile.name}}

          li
            a(ng-click="ntc.logOut()")
              | Cerrar sesión
              i.fa.fa-sign-out




















































  // START Nav wrapper HOME
  .nav-wrapper(ng-if= "ntc.onHome()")
    // MENU XS INTERNAL INBOX
    ul.nav.navbar-nav.visible-xs
      li
        // Button used to collapse the left sidebar. Only visible on tablet and desktops
        a(ng-if="app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple).hidden-xs
          img(src="assets/img/newIcons/menu-retractil-open.svg", alt="icon-menu-retractil")
        a(ng-if="!app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple).hidden-xs
          img(src="assets/img/newIcons/menu-retractil-close.svg", alt="icon-menu-retractil")
        a(ng-if="!app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-open.svg", alt="icon-menu-retractil")
        a(ng-if="app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-close.svg", alt="icon-menu-retractil")
      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref='app.mailbox.internal.in.page({page:1})'  )
          img(src="assets/img/newIcons/portafolio-1.svg", alt="icon-menu-retractil")
      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.external.in.page({page:1, jobTitle: ntc.currentUser.jobTitleID})")
          img(src="assets/img/newIcons/compartido-2.svg", alt="icon-menu-retractil")
      li
        //- a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.external.archived.page({page:1, jobTitle: ntc.currentUser.jobTitleID})")
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.searchAdvanced")
          img(src="assets/img/newIcons/consulta-2.svg", alt="icon-menu-retractil")



    // MENU SM INTERNAL INBOX
    ul.nav.navbar-nav.visible-sm(style="font-size: xx-small !important; ")
      li
        // Button used to collapse the left sidebar. Only visible on tablet and desktops
        a(ng-if="app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple).hidden-xs
          img(src="assets/img/newIcons/menu-retractil-open.svg", alt="icon-menu-retractil")
        a(ng-if="!app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple).hidden-xs
          img(src="assets/img/newIcons/menu-retractil-close.svg", alt="icon-menu-retractil")
        a(ng-if="!app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-open.svg", alt="icon-menu-retractil")
        a(ng-if="app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-close.svg", alt="icon-menu-retractil")
      li(style="min-width: 18em; white-space: nowrap;")
        a#titleName(style="font-size: large; font-weight: 600;") {{ntc.currentPath}}

      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref='app.mailbox.internal.in.page({page:1})'  )
          img(src="assets/img/newIcons/portafolio-1.svg", alt="icon-menu-retractil" style="padding-right: 0.5em;")
          | Portafolio
      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.internal.in({jobTitle: ntc.currentUser.jobTitleID})")
          img(src="assets/img/newIcons/compartido-2.svg", alt="icon-menu-retractil" style="padding-right: 0.5em;")
          | Compartidos
      li
        //- a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.external.archived.page({page:1, jobTitle: ntc.currentUser.jobTitleID})")
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.searchAdvanced" )
          img(src="assets/img/newIcons/consulta-2.svg", alt="icon-menu-retractil" style="padding-right: 0.5em;")
          | Consultas




    // MENU MD INTERNAL INBOX
    ul.nav.navbar-nav.visible-md(style="font-size: smaller;")
      li
        // Button used to collapse the left sidebar. Only visible on tablet and desktops
        a(ng-if="app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple).hidden-xs
          img(src="assets/img/newIcons/menu-retractil-open.svg", alt="icon-menu-retractil")
        a(ng-if="!app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple).hidden-xs
          img(src="assets/img/newIcons/menu-retractil-close.svg", alt="icon-menu-retractil")
        a(ng-if="!app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-open.svg", alt="icon-menu-retractil")
        a(ng-if="app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-close.svg", alt="icon-menu-retractil")
      li(style="min-width: 18em; white-space: nowrap;")
        a#titleName(style="font-size: large; font-weight: 600;") {{ntc.currentPath}}
      li(style="padding-top: 1em;" ng-if="'app.mailbox.compose' !== $state.current.name")
        button.btn.btn-secondary.btn-sm.pull-left.animated(ui-sref="app.mailbox.compose" style="font-weight: 600;")
          img(src="assets/img/newIcons/crear-oficio.svg", alt="icon-menu-retractil" style="padding-right: 1em;")
          |  Crear oficio


      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref='app.mailbox.internal.in.page({page:1})'  )
          img(src="assets/img/newIcons/portafolio-1.svg", alt="icon-menu-retractil" style="padding-right: 0.5em;")
          | Portafolio
      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref='app.mailbox.external.in.page({page:1, jobTitle: ntc.currentUser.jobTitleID})'  )
          img(src="assets/img/newIcons/compartido-2.svg", alt="icon-menu-retractil" style="padding-right: 0.5em;")
          | Compartidos
      li
        //- a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.external.archived.page({page:1, jobTitle: ntc.currentUser.jobTitleID})"  )
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.searchAdvanced")
          img(src="assets/img/newIcons/consulta-2.svg", alt="icon-menu-retractil" style="padding-right: 0.5em;")
          | Consultas
      li
    // MENU LG INTERNAL INBOX
    ul.nav.navbar-nav.visible-lg(style="font-size: smaller;")
      li
        // Button used to collapse the left sidebar. Only visible on tablet and desktops
        a(ng-if="app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple)
          img(src="assets/img/newIcons/menu-retractil-open.svg", alt="icon-menu-retractil")
        a(ng-if="!app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple)
          img(src="assets/img/newIcons/menu-retractil-close.svg", alt="icon-menu-retractil")
        a(ng-if="!app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-open.svg", alt="icon-menu-retractil")
        a(ng-if="app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-close.svg", alt="icon-menu-retractil")

      li(style="min-width: 18em; white-space: nowrap;")
        a#titleName(style="font-size: large; font-weight: 600;") {{ntc.currentPath}}

      li(style="padding-top: 1em;" ng-if="'app.mailbox.compose' !== $state.current.name")
        button.btn.btn-secondary.btn-sm.pull-left.animated(ui-sref="app.mailbox.compose" style="font-weight: 600;")
          img(src="assets/img/newIcons/crear-oficio.svg", alt="icon-menu-retractil" style="padding-right: 1em;")
          |  Crear oficio


      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref='app.mailbox.internal.in.page({page:1})'  )
          img(src="assets/img/newIcons/portafolio-1.svg", alt="icon-menu-retractil" style="padding-right: 0.5em;")
          | Portafolio
      li
        a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref='app.mailbox.external.in.page({page:1, jobTitle: ntc.currentUser.jobTitleID})'  )
          img(src="assets/img/newIcons/compartido-2.svg", alt="icon-menu-retractil" style="padding-right: 0.5em;")
          | Compartidos
      li
        //- a.top-menu-new.animated.fadeIn( ui-sref-active="active" ui-sref="app.mailbox.external.archived.page({page:1, jobTitle: ntc.currentUser.jobTitleID})"  )
        a.top-menu-new.animated.fadeIn( ui-sref-active="active"  ui-sref="app.mailbox.searchAdvanced" )
          img(src="assets/img/newIcons/consulta-2.svg", alt="icon-menu-retractil" style="padding-right: 0.5em;")
          | Consultas



    // START Right Navbar
    ul.nav.navbar-nav.navbar-right
      // START Offsidebar button
      li.visible-lg
        a(href='', ng-click="app.offsidebarOpen = !app.offsidebarOpen")
          em.fa.fa-align-right
      li.dropdown.dropdown-list(uib-dropdown="")
        a(uib-dropdown-toggle="")
          em.fa.fa-bell
          .label.label-rejected {{ntc.notificationsCount}}

        ul.dropdown-menu(class="animated flipInX")
          li(ng-repeat="notification in ntc.flipNotification")
            .list-group
              //- a.list-group-item(ng-click="ntc.goNotification(notification); ntc.readNotification(notification)" ui-sref="app.mailbox.internal.in.view({mid: notification.document})")
              a.list-group-item(ng-if="notification.jobTitleID !== ntc.profile.jobTitle.id" ng-click="ntc.goNotification(notification); ntc.readNotification(notification)" )
                .media-box
                  .pull-left
                    em.fa.fa-envelope.fa-2x.text-warning
                  .media-box-body.clearfix
                      p.m0 {{notification.header}}
                      p.m0.text-muted : {{notification.message}}
              a.list-group-item(ng-if="notification.jobTitleID === ntc.profile.jobTitle.id" ng-click="ntc.goNotification(notification); ntc.readNotification(notification)" )
                .media-box
                  .pull-left
                    em.fa.fa-envelope.fa-2x.text-warning
                  .media-box-body.clearfix
                      p.m0 {{notification.header}}
                      p.m0.text-muted : {{notification.message}}
          li
            .list-group(ng-if="ntc.notificationsCount === 0 && ntc.profile.jobTitleID")
              a.list-group-item

                small No tienes notificaciones

            .list-group(ng-if="ntc.notificationsCount === 0 && !ntc.profile.jobTitleID")
              a.list-group-item


                small(ng-if="!ntc.profile.jobTitleID") No tienes puesto de trabajo

          li
            .list-group(ng-if="(ntc.notificationsCount - ntc.flipNotification.length) > 0")
              a.list-group-item(ui-sref="app.notifications")

                small Ver más
                span.label.label-rejected.pull-right {{ntc.notificationsCount - ntc.flipNotification.length}}



      li.dropdown.dropdown-list(uib-dropdown="")
        a(uib-dropdown-toggle="")
          img.img-circle(style = "height: 1.47em;" ng-src="{{ntc.profile.avatar}}", alt="Avatar", title="{{ntc.profile.email}}")

        ul.dropdown-menu(class="animated flipInX")
          li
            a(ui-sref="app.profile")
              img.img-thumbnail.img-circle(style = "height: 3em;" ng-src="{{ntc.profile.avatar}}", alt="Avatar", title="{{ntc.profile.email}}")
              span.profileNameNavItem {{ntc.profile.name}}

          li
            a(ng-click="ntc.logOut()")
              | Cerrar sesión
              i.fa.fa-sign-out





















  // START Nav wrapper base
  .nav-wrapper(ng-if= "!ntc.onInternalArchived() && !ntc.onInternal() && !ntc.onExternal() && !ntc.onHome() && !ntc.onExternalArchived()")
    // MENU XS INTERNAL INBOX
    ul.nav.navbar-nav.visible-xs
      li
        // Button used to collapse the left sidebar. Only visible on tablet and desktops
        a(ng-if="app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple).hidden-xs
          img(src="assets/img/newIcons/menu-retractil-open.svg", alt="icon-menu-retractil")
        a(ng-if="!app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple).hidden-xs
          img(src="assets/img/newIcons/menu-retractil-close.svg", alt="icon-menu-retractil")
        a(ng-if="!app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-open.svg", alt="icon-menu-retractil")
        a(ng-if="app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-close.svg", alt="icon-menu-retractil")




    // MENU SM INTERNAL INBOX
    ul.nav.navbar-nav.visible-sm(style="font-size: xx-small !important; ")
      li
        // Button used to collapse the left sidebar. Only visible on tablet and desktops
        a(ng-if="app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple).hidden-xs
          img(src="assets/img/newIcons/menu-retractil-open.svg", alt="icon-menu-retractil")
        a(ng-if="!app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple).hidden-xs
          img(src="assets/img/newIcons/menu-retractil-close.svg", alt="icon-menu-retractil")
        a(ng-if="!app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-open.svg", alt="icon-menu-retractil")
        a(ng-if="app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-close.svg", alt="icon-menu-retractil")
      li(style="min-width: 18em; white-space: nowrap;")
        a#titleName(style="font-size: large; font-weight: 600;") {{ntc.currentPath}}



    // MENU MD INTERNAL INBOX
    ul.nav.navbar-nav.visible-md(style="font-size: smaller;")
      li
        // Button used to collapse the left sidebar. Only visible on tablet and desktops
        a(ng-if="app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple).hidden-xs
          img(src="assets/img/newIcons/menu-retractil-open.svg", alt="icon-menu-retractil")
        a(ng-if="!app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple).hidden-xs
          img(src="assets/img/newIcons/menu-retractil-close.svg", alt="icon-menu-retractil")
        a(ng-if="!app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-open.svg", alt="icon-menu-retractil")
        a(ng-if="app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-close.svg", alt="icon-menu-retractil")
      li(style="min-width: 18em; white-space: nowrap;")
        a#titleName(style="font-size: large; font-weight: 600;") {{ntc.currentPath}}
      li(style="padding-top: 1em;" ng-if="'app.mailbox.compose' !== $state.current.name")
        button.btn.btn-secondary.btn-sm.pull-left.animated(ui-sref="app.mailbox.compose" style="font-weight: 600;")
          img(src="assets/img/newIcons/crear-oficio.svg", alt="icon-menu-retractil" style="padding-right: 1em;")
          |  Crear oficio

    // MENU LG INTERNAL INBOX
    ul.nav.navbar-nav.visible-lg(style="font-size: smaller;")
      li
        // Button used to collapse the left sidebar. Only visible on tablet and desktops
        a(ng-if="app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple)
          img(src="assets/img/newIcons/menu-retractil-open.svg", alt="icon-menu-retractil")
        a(ng-if="!app.layout.isCollapsed" id='closeSidebar' href='', trigger-resize="", ng-click="app.layout.isCollapsed = !app.layout.isCollapsed", md-ink-ripple)
          img(src="assets/img/newIcons/menu-retractil-close.svg", alt="icon-menu-retractil")
        a(ng-if="!app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-open.svg", alt="icon-menu-retractil")
        a(ng-if="app.asideToggled" id='closeSidebar' href='', trigger-resize="", ng-click="app.asideToggled = !app.asideToggled", md-ink-ripple).visible-xs.sidebar-toggle
          img(src="assets/img/newIcons/menu-retractil-white-close.svg", alt="icon-menu-retractil")

      li(style="min-width: 18em; white-space: nowrap;")
        a#titleName(style="font-size: large; font-weight: 600;") {{ntc.currentPath}}

      li(style="padding-top: 1em;" ng-if="'app.mailbox.compose' !== $state.current.name")
        button.btn.btn-secondary.btn-sm.pull-left.animated(ui-sref="app.mailbox.compose" style="font-weight: 600;")
          img(src="assets/img/newIcons/crear-oficio.svg", alt="icon-menu-retractil" style="padding-right: 1em;")
          |  Crear oficio
    // START Right Navbar
    ul.nav.navbar-nav.navbar-right
      // START Offsidebar button
      li.visible-lg
        a(href='', ng-click="app.offsidebarOpen = !app.offsidebarOpen")
          em.fa.fa-align-right
      li.dropdown.dropdown-list(uib-dropdown="")
        a(uib-dropdown-toggle="")
          em.fa.fa-bell
          .label.label-rejected {{ntc.notificationsCount}}

        ul.dropdown-menu(class="animated flipInX")
          li(ng-repeat="notification in ntc.flipNotification")
            .list-group
              //- a.list-group-item(ng-click="ntc.goNotification(notification); ntc.readNotification(notification)" ui-sref="app.mailbox.internal.in.view({mid: notification.document})")
              a.list-group-item(ng-if="notification.jobTitleID !== ntc.profile.jobTitle.id" ng-click="ntc.goNotification(notification); ntc.readNotification(notification)" )
                .media-box
                  .pull-left
                    em.fa.fa-envelope.fa-2x.text-warning
                  .media-box-body.clearfix
                      p.m0 {{notification.header}}
                      p.m0.text-muted : {{notification.message}}
              a.list-group-item(ng-if="notification.jobTitleID === ntc.profile.jobTitle.id" ng-click="ntc.goNotification(notification); ntc.readNotification(notification)" )
                .media-box
                  .pull-left
                    em.fa.fa-envelope.fa-2x.text-warning
                  .media-box-body.clearfix
                      p.m0 {{notification.header}}
                      p.m0.text-muted : {{notification.message}}
          li
            .list-group(ng-if="ntc.notificationsCount === 0 && ntc.profile.jobTitleID")
              a.list-group-item

                small No tienes notificaciones

            .list-group(ng-if="ntc.notificationsCount === 0 && !ntc.profile.jobTitleID")
              a.list-group-item


                small(ng-if="!ntc.profile.jobTitleID") No tienes puesto de trabajo

          li
            .list-group(ng-if="(ntc.notificationsCount - ntc.flipNotification.length) > 0")
              a.list-group-item(ui-sref="app.notifications")

                small Ver más
                span.label.label-rejected.pull-right {{ntc.notificationsCount - ntc.flipNotification.length}}



      li.dropdown.dropdown-list(uib-dropdown="")
        a(uib-dropdown-toggle="")
          img.img-circle(style = "height: 1.47em;" ng-src="{{ntc.profile.avatar}}", alt="Avatar", title="{{ntc.profile.email}}")

        ul.dropdown-menu(class="animated flipInX")
          li
            a(ui-sref="app.profile")
              img.img-thumbnail.img-circle(style = "height: 3em;" ng-src="{{ntc.profile.avatar}}", alt="Avatar", title="{{ntc.profile.email}}")
              span.profileNameNavItem {{ntc.profile.name}}

          li
            a(ng-click="ntc.logOut()")
              | Cerrar sesión
              i.fa.fa-sign-out



toaster-container(toaster-options="{'position-class': 'toast-bottom-right', 'close-button':true}")

