
.col-md-12.text-right
  section.paginacion
    ul.pagination.pagination-sm
      li(ng-repeat="page in docs.paginator.pages" ng-class="page.active? 'active': ''" )
        span(ng-click="docs.paginator.goPage(page)") {{page.text}}
