






.col-md-12( ng-if="!scdc.secretariates.length" style="padding-top: 10em;")
  .col-md-6
    .col-md-2
    .col-md-10
      h1.text-blue.Poppins-Bold(style="font-size: -webkit-xxx-large;") Bienvenido a Cero Papel
      h4.text-blue.Poppins-SemiBold ¡Organízate! reduce tus tiempos de trabajo y aumenta tu productividad. ¡Te invitamos a crear tu primer área!
      button.btn.btn-secondary.pull-right(ng-if="scdc.profile.roleID === 3"  style='margin: 15px;', type='button', data-toggle='modal', data-target='#modalCreateJob' ) Agregar  Área
  .col-md-6
    img.center(src="assets/img/ilustracion-secretarias.svg", alt="" style="height: 20em; display: block; margin-left: auto; margin-right: auto;")


.col-md-12( ng-if="scdc.profile.roleID == 2 && !scdc.profile.jobTitleID" style="padding-top: 10em;")
  .col-md-6
    .col-md-2
    .col-md-10
      h1.text-blue.Poppins-Bold(style="font-size: -webkit-xxx-large;") Bienvenido a Cero Papel
      h4.text-blue.Poppins-SemiBold ¡Organízate! reduce tus tiempos de trabajo y aumenta tu productividad.
      h4.text-danger.Poppins-SemiBold ¡No tienes área asignada!

  .col-md-6
    img.center(src="assets/img/ilustracion-cero-papel.svg", alt="" style="height: 20em; display: block; margin-left: auto; margin-right: auto;")






.container
  .col-md-12( ng-if="scdc.secretariates && (scdc.profile.roleID == 3 || (scdc.profile.roleID == 2 && scdc.profile.jobTitleID))" style="padding-top: 5em;")
    .col-md-12(ng-repeat='item in scdc.secretariates')
      .col-md-12(style="background-color: white; margin-bottom: 10px !important;" ng-init= "item.display = true"  ng-attr-id= "{{'panel-' + item.id}}")
        button.btn.btn-down.btn-sm.pull-left.animated(ui-sref="app.secretariateCanceledDocuments({id: item.id})" tool-collapse='Mostrar detalles' style="margin-left: -15px; height: 55px; width: 55px;" panel-collapse='' uib-tooltip='Ver documentos cancelados')

        button.btn.btn-primary.pull-right.animated( ui-sref="app.secretariateCanceledDocuments({id: item.id})" style="margin-top: 10px;")
          i.fa.fa-eye
          span Ver documentos cancelados


        h4.text-light-blue.Poppins-SemiBold(style="padding-left: 50px;") {{item.name}}
