.content-heading
  headerGreet Documentos cancelados
  small.greet Documentos cancelados
  
div(ui-view="")
  button.btn.btn-sm.btn-secondary(type='button' ui-sref="app.canceledDocuments" ng-hide="$state.is('app.templates') || docs.profile.roleID !== 3") Regresar
  br
  br
  //- .div(ng-include="'/views/mailbox/filter.html'")




  .row(ng-if="!docs.items.length")
    .col-lg-12
      .panel.panel-defaul
        .panel-heading
        .panel-body
          fieldset
          p.lead.text-center No hay oficios cancelados

  // START row
  .row(ng-if="docs.items.length")
    .col-lg-12
      .panel.panel-default
        //- .panel-heading

        .panel-body
          fieldset
          .div
            table.table.table-striped.table-bordered.table-hover
              thead.bg-blue-primary
                tr
                  th
                    dt.text-center.text-white Autor
                  th
                    dt.text-center.text-white Folio
                  th
                    dt.text-center.text-white Asunto
                  th
                    dt.text-center.text-white Fecha de creación
                  th
                    dt.text-center.text-white Fecha de cancelación
              tbody
                tr(ng-repeat="doc in docs.items"  ui-sref="app.secretariateCanceledDocuments.view({mid: doc.id})" )
                  td 
                    dt.text-primary.text-left {{doc.author}}
                  td 
                    dt.text-primary.text-left {{doc.folio}}
                  td
                    dt.text-primary {{doc.subject}}
                  td
                    dd.text-primary.text-left {{doc.createdAt  | date:'dd-MM-yyyy h:mm a' || 'No aplica'}}
                  td.text-primary 
                    dd.text-primary.text-left(ng-if="!doc.canceledAt") {{doc.updatedAt  | date:'dd-MM-yyyy h:mm a' || 'No aplica'}}
                    dd.text-primary.text-left(ng-if="doc.canceledAt") {{doc.canceledAt  | date:'dd-MM-yyyy h:mm a' || 'No aplica'}}

            
            
