div(ng-if="!acmp.ViewFactory.loading()")
  button.btn.btn-bm.btn-primary.viewMenuButton(ng-disabled="acmp.profile.roleID === 5" ng-if = "!acmp.ViewFactory.showArchive()" type='button' ng-click='acmp.openArchive(\'lg\')')
    | Archivar
  button.btn.btn-bm.btn-secondary.viewMenuButton(ng-disabled="acmp.profile.roleID === 5" ng-if = "acmp.ViewFactory.showArchive()" type='button' ng-click='acmp.openUnarchive(\'lg\')')
    | Desarchivar




