button.btn(style=" margin-left: 1px;" ng-if="macmp.active" ng-class= "macmp.haveInboxesMarked()? 'btn-primary' : 'btn-secondary' " ng-disabled="!macmp.haveInboxesMarked()" type='button' ng-click='macmp.open(\'lg\')') Archivar


