button.btn(ng-if="mcscmp.active"  ng-class= "mcscmp.haveInboxesMarked()? 'btn-primary' : 'btn-secondary' " ng-disabled="!mcscmp.haveInboxesMarked()" type='button' ng-click='mcscmp.open(\'lg\')')
  | Cambiar estatus

