button.btn.btn-bm.btn-default.viewMenuButton(ng-if = "tcmp.document.needCancel !== 1 && !tcmp.ViewFactory.isLoading()" ng-click='tcmp.open(\'lg\')' ng-disabled ="!tcmp.ViewFactory.iCanTurn()")
  em.fa.fa-mail-forward.text-gray-dark
  | Turnar
