// Main section
.row-md-12(style="height: -webkit-fill-available;")
  .col-md-6.test(style ="height: -webkit-fill-available; margin-left: 25%;")
    // Page content
    .div(ui-view="", autoscroll="false", ng-class="app.viewAnimation")
