


button.btn.btn-secondary.pull-right(style = "margin-top: 10px;" ng-if = "!adjtcmp.isLoading && adjtcmp.profile.roleID === 3" type='button' ng-click='adjtcmp.setData(adjtcmp.data); adjtcmp.open(\'lg\')')  Agregar {{adjtcmp.data ? 'puesto' :  'área' }}
