


button.btn.btn-primary.pull-right(style = "margin-top: 10px; margin-right: 10px;" ng-if = "!edjtcmp.isLoading && edjtcmp.profile.roleID === 3" type='button' ng-click='edjtcmp.setData(edjtcmp.data)')  Editar {{edjtcmp.data.jobTitleID ? 'puesto' :  'área' }}
