


.container
  .col-md-12( ng-if="!sc.secretariats.length" style="padding-top: 10em;")
    .col-md-6
      .col-md-2
      .col-md-10(ng-init="sc.jobTitle = 0 ")
        h1.text-blue.Poppins-Bold(style="font-size: -webkit-xxx-large;") Bienvenido a Cero Papel
        h4.text-blue.Poppins-SemiBold ¡Organízate! reduce tus tiempos de trabajo y aumenta tu productividad. ¡Te invitamos a crear tu primer área!
        add-job-title-component(profile="sc.profile")
    .col-md-6
      img.center(src="assets/img/ilustracion-secretarias.svg", alt="" style="height: 20em; display: block; margin-left: auto; margin-right: auto;")

  .col-md-12( ng-if="sc.secretariats.length")
    .col-md-12(style="padding-top: 10px; padding-bottom: 10px;" ng-init="sc.jobTitle = 0 ")
      add-job-title-component(profile="sc.profile")

    .col-md-12(ng-repeat='item in sc.secretariats')
      .col-md-12(style="background-color: white; margin-bottom: 10px !important;" ng-init= "item.display = true"  ng-attr-id= "{{'panel-' + item.id}}")

        add-job-title-component(data= "item" profile="sc.profile")
        edit-job-title-component(data= "item" profile="sc.profile")
        button.btn.btn-down.btn-sm.pull-left.animated(tool-collapse='Mostrar detalles' style="margin-left: -15px; height: 55px; width: 55px;" panel-collapse='' uib-tooltip='Ver detalles' ng-click='item.display = !item.display; sc.changeShowDetails(item)')
          em.fa.fa-chevron-down.ng-no-animation(ng-show="item.display" aria-hidden='false')
          em.fa.fa-chevron-up.ng-no-animation.ng-hide(ng-show='!item.display' aria-hidden='true')
        h4.text-light-blue.Poppins-SemiBold(style="padding-left: 50px;") {{item.name}}
        .col-md-12.collapse(uib-collapse="item.display" aria-expanded='false' aria-hidden='true' )
          .col-md-12.dividerView
          h3.text-danger.Poppins-SemiBold(ng-if="item.jobTitlesSecretariateViewData.length === 0") No hay puestos agregados

          table.table.table-hover(ng-if="item.jobTitlesSecretariateViewData.length !== 0 ")
            thead
              tr
                th.text-light-blue.Poppins-SemiBold PUESTO
                th.text-light-blue.Poppins-SemiBold ACRÓNIMO
                th

            tbody(ng-repeat='jobTitle in item.jobTitlesSecretariateViewData')
              tr
                td
                  strong.text-light-blue.Poppins-SemiBold {{jobTitle.name}}
                td.text-light-blue.Poppins-Light {{jobTitle.acronym}}
                td
                  edit-job-title-component(data= "jobTitle" profile="sc.profile")
